{% extends 'base.html.twig' %}

{% block activeMusicien %} active {% endblock %}

{% block title %}Oeuvres{% endblock %}
{% block stylesheets %}<link rel="stylesheets" type="text/css" href="/css/style.css">{% endblock %}
{% block body %}

    <h1><a href="{{ path('musicien_show',{'codeMusicien':musicien.codeMusicien}) }}">{{ musicien.nomMusicien }} {{ musicien.prenomMusicien  }}</a></h1>

    <table class="table">
    <div class="list">
            <h1>Oeuvres</h1>
            {%  for oeuvre in oeuvres %}
                    <li><a href="{{ path('musicien_oeuvres_show',{'codeOeuvre' : oeuvre.Code_Oeuvre,'codeMusicien' : musicien.codeMusicien}) }}">{{ oeuvre.Titre_Oeuvre }}</a></li>
                {%   endfor %}</div>
    </table>
    <div class="back" ><a href="{{ path('musicien_index') }}">back to list</a></div>
{% endblock %}
