{% extends 'base.html.twig' %}

{% block title %}Musicien{% endblock %}
{% block stylesheets %}<link rel="stylesheets" type="text/css" href="/css/style.css">{% endblock %}
{% block body %}
    <h1>Musicien</h1>
    <a href="{{ path('musicien_index') }}">back to list</a>
    <table class="table">
        <tbody>
            <tr>
                <th>CodeMusicien</th>
                <td>{{ musicien.codeMusicien }}</td>
            </tr>
            <tr>
                <th>NomMusicien</th>
                <td>{{ musicien.nomMusicien }}</td>
            </tr>
            <tr>
                <th>PrenomMusicien</th>
                <td>{{ musicien.prenomMusicien }}</td>
            </tr>
            <tr>
                <th>AnneeNaissance</th>
                <td>{{ musicien.anneeNaissance }}</td>
            </tr>
            <tr>
                <th>AnneeMort</th>
                <td>{{ musicien.anneeMort }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td><img src= "{{ path('musicien_image', {'codeMusicien' : musicien.codeMusicien}) }}" 
                        alt="Pas d'image"/></td>
            </tr>
        </tbody>
    </table>
    
{% endblock %}
