{% extends 'base.html.twig' %}

{% block activeMusicien %} active {% endblock %}

{% block title %}Musicien{% endblock %}
{% block stylesheets %}<link rel="stylesheets" type="text/css" href="/css/style.css">{% endblock %}
{% block body %}
    <h1>Musicien</h1>
    <form method="post" action="{{ path('musicien_index') }}">

        <input type="hidden" name="filtre" value="{{ filtre }}" >
        <input type="hidden" name="numPage" value="{{ numPage }}">
        <input type="submit" value="Back to list" />

    </form>
    <table class="table">
        <tbody>
            <tr>
                <th>CodeMusicien</th>
                <td>{{ musicien.codeMusicien }}</td>
            </tr>
            <tr>
                <th>NomMusicien</th>
                <td>{{ musicien.nomMusicien }}</td>
            </tr>
            <tr>
                <th>PrenomMusicien</th>
                <td>{{ musicien.prenomMusicien }}</td>
            </tr>
            <tr>
                <th>AnneeNaissance</th>
                <td>{{ musicien.anneeNaissance }}</td>
            </tr>
            <tr>
                <th>AnneeMort</th>
                <td>{{ musicien.anneeMort }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td><img src= "{{ path('musicien_image', {'codeMusicien' : musicien.codeMusicien}) }}" 
                        alt="Pas d'image"/></td>
            </tr>
            <tr>
                <th>Oeuvres</th>
                <td><a href="{{ path('musicien_oeuvres',{'codeMusicien' : musicien.codeMusicien}) }}">Voir la liste des oeuvres</a></td>
            </tr>
            <tr>
                <th>Albums</th>
                {% for album in albums %}
                <td><img src= "{{ path('musicien_image_album', {'codeAlbum' : album.Code_Album}) }}"
                         alt="Pas d'image"/></td>
                {% endfor %}
            </tr>
        </tbody>
    </table>
    
{% endblock %}
