<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}Base{% endblock %}</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.min.css">

    {% block stylesheets %}{% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand" href="{{ path('home_main')}}">WebMusic</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" 
      data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" 
      aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{{ path('musicien_index')}}"> Catalogue <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ path('panier')}}"> Mon panier </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ path('compte')}}"> Mon compte </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ path('a_propos_main')}}"> A Propos </a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <a href="{{ path('connexion')}}">
           <input type="button" value="Authentification"> </a>
        </form>
      </div>
    </nav>
    {% block body %}{% endblock %}
    {% block javascripts %}{% endblock %}
  </body>
</html>
