{% extends 'base.html.twig' %}

{% block title %}Mon Panier{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    {% if app.user %}
        <h1>Mon panier</h1>
        {% if  achats is null %}
            <h3>Vous n'avez pas encore d'achats</h3>
            <a href="{{ path('enregistrement') }}">Aller dans le catalogue</a>
            {% else %}
                {% for achat in achats %}
                <li>{{ path('achat_enregistrement',{'codeAchat':achat.codeAchat}) }} {{ achat.codeAchat }}</li>
                {% endfor %}
                {% endif %}
        {% if not history %}

            <a href="{{ path('confirmation_achats',{'codeAbonne':app.user.codeAbonne}) }}">Confirmer les achats</a>
            <br>
            <a href="{{ path('delete_achats',{'codeAbonne':app.user.codeAbonne}) }}">Vider le panier</a>
            <br>
            <a href="{{ path('historique_achats',{'codeAbonne' :app.user.codeAbonne}) }}">Historique des achats</a>
        {% else %}
            <a href="{{ path('user_panier1',{'codeAbonne':app.user.codeAbonne}) }}">Retour au panier</a>
            {% endif %}
        {% else %}
        <p>Veuillez vous identifier afin d'accéder à votre panier. </p>
    {% endif %}
</div>
{% endblock %}
